<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="CRMConnection" value="Url=https://bma-dev.crm11.dynamics.com;thumbprint=2F62D3F5FD056BAAA8D1E4403899623D12BE3850;ClientId=0838b0d1-e463-40cf-9871-ee5b671cac9f;AuthType=Certificate;"/>
	</appSettings>
</configuration>